<app-word></app-word>
<app-book></app-book>
<app-user-form></app-user-form>
<app-struct></app-struct>
<app-words></app-words>
<app-person name="Tèo Nguyễn" age="18"></app-person>
<app-person name="Tí Nguyễn" age="14"></app-person>
<app-list-person></app-list-person>
<app-parent></app-parent>

<app-card>
    <p class="card-body">Khoa Phạm training</p>
    <app-child class="card-header">Khoa Phạm training</app-child> 
</app-card>

<app-learn-pipe></app-learn-pipe>
<!-- <app-ip></app-ip> -->

<app-weather></app-weather>
<br><br>
<app-sign-in></app-sign-in>
<app-sign-up></app-sign-up>
<br><br>
<a routerLink="/contacts">Contacts</a>
<a routerLink="/detail"> Detail</a>
<router-outlet></router-outlet>